<?xml version="1.0"?>
<PrintPaperSetting>
  <Papers>
    <Paper ReportName="TmpPageSetup" PrinterName="Canon MG2400 series Printer" Landscape="False" PaperName="A4" PageWidth="827" PageHeight="1169" MarginTop="39" MarginBottom="98" MarginLeft="39" MarginRight="98" />
    <Paper ReportName="GaoShan.Sales.Xls.UI.FmTmpXlsManager" PrinterName="Fax" Landscape="False" PaperName="A4" PageWidth="827" PageHeight="1169" MarginTop="0" MarginBottom="98" MarginLeft="0" MarginRight="98" />
    <Paper ReportName="FmCarriageManagerReport" PrinterName="Microsoft Print to PDF" Landscape="True" PaperName="B5 (JIS)" PageWidth="717" PageHeight="1012" MarginTop="0" MarginBottom="79" MarginLeft="0" MarginRight="98" />
  </Papers>
</PrintPaperSetting>