<?xml version="1.0"?>
<PrintPaperSetting>
  <Papers>
    <Paper ReportName="GaoShan.Sales.UI.FmOrderSalesManager" PrinterName="" Landscape="False" PaperName="A4" PageWidth="827" PageHeight="1169" MarginTop="20" MarginBottom="24" MarginLeft="20" MarginRight="24" />
    <Paper ReportName="TmpPageSetup" PrinterName="" Landscape="False" PaperName="A4" PageWidth="827" PageHeight="1169" MarginTop="24" MarginBottom="24" MarginLeft="20" MarginRight="20" />
  </Papers>
</PrintPaperSetting>